
/*
 #Informacion{
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}*/

/* Change the link color on hover */
/*li a:hover {
    background-color: #555;
    color: white;  
}
*/

body {
  background-color: #ddd;
}

.tabs-left { margin-top: 3rem; }

.nav-tabs {
  float: left;
  border-bottom: 0;
  list-style-type:none; 
  
}
  li {
    float: none;
    margin: 0;
    color: blue;
     }
    a {
      margin-right: 0;
      border: 0;
      background-color: #333;
      color: white;
      }
     
    
 

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
}


.nav-tabs li{
    float: none;
}
.tab-content {
  /*margin-left: 4px;*/

  }
    .tab-pane {
    display: none;
    background-color: #fff;
    /*padding: 1.6rem;*/
    margin-left: 1%;

    overflow: auto;
    }
  
  .active { display: block; }

#politicas{
    width: 320%;
    height: 90%;
}
#c{
    width: 80%;
}