#myModalLogin{
	width: 30%;
	height: 50%;
	position: fixed;
	left: 35%;
}

.modal-header, h3, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }