
/***************************************
************* SandBox Prof *************
****************************************/



/***************************************/

.list-group {
	margin-top: 2%;
}

#seccion1 p {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#seccion1 p:nth-child(even) {
    background: lavender;
}

#seccion1 p:nth-child(odd) {
    background: gainsboro;
}

/***************************************
****************************************/