
/***************************************
************* SandBox Prof *************
****************************************/



/***************************************/

#seccion1 .list-group {
	margin-top: 2%;
}


#seccion2 .list-group {
	margin-top: 2%;
	margin-left: 1.5%;
}


#secciones {
	padding-left: 0%;
}


#new_ejerc button {
	margin-left: 1.5%;
}


/*
#seccion1 p {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#seccion1 p:nth-child(even) {
    background: lavender;
}

#seccion1 p:nth-child(odd) {
    background: gainsboro;
}
*/

/***************************************
****************************************/