



body {
  background-color: #ddd;
}


.tabs-left { margin-top: 3rem; }

.nav-tabs {
  float: left;
  border-bottom: 0px;
}
  li {
    float: none;
    margin: 0;
    color: blue;

     }
    a {
      margin-right: 0;
      border: 0;
      background-color: #333;
      color: white;
      font-weight: bold;
        font-family: serif;
        font-size: 15px;
      }


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0px;

}


.nav-tabs li{
    float: none;
}
.tab-content {
  margin-left: 15%;
  width: 950px;
     height: 100px;

  }
    .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    margin-left: 2%;
    font-size: 20px;
    overflow: auto;
    border:2px solid;
    /* padding: 20px;*/ 
    width: 950px;
     height: 375px;
     margin-bottom: 10%;
    }
  
  .active { display: block; }

.navbar-brand {
  padding: 0px;
}




.navbar-brand>img {
  height: 49px;
  /*padding: 15px;*/
  max-width: 49px;
  margin-right: 2%;
  float: left;
}

.jumbotron{
	margin-bottom: 1%;
}
.container .jumbotron, .container-fluid .jumbotron{
	border-radius: 0;
}

.jumbotron h1{
	font-size: 45px;
}
 #barra a.login{
	border-left: 1px solid gray;
}

#carrucel{
	margin-bottom: 1%;
}

#carrucel .item{
	width: 100%;
	height: auto;	
}

.navbar-right .dropdown-menu{
	left: 0;
}

hr{
	 width: 80%;
 size: 20px;
 border: 1px dotted #278e79;
}

#cambioColor{
   display: auto;
  color: #5b5757;
  font-family: serif;
  text-decoration: none;
  

}






/*CSS PARTE DEL FORMULARIO*/


#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:right;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:10px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:10px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 8px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}


#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:right;
	width: 40%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #235475;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:100;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 40px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}







input {
  padding: 5px;
  width: 240px;
  max-width: 100%;
  font-size: 1.2em;
  margin-bottom: 10px;
}

label{
	font-weight: bold;
	color: black;
	font-size: 18px;
}


/*CSS PIE DE PAGINA*/








#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
