.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.list-group-submenu {
  margin-left:20px;
}

#seccionClases h2{
	text-align: center;	
}

#seccionClases h3{
	text-align: center;	
}

#seccionClases h4{
	text-align: center;
}

#listaObjetivos{
	list-style: bengali;
}